.header
{
	padding:5px 0 5px;
	font-family-sans-serif:  Helvetica;
}

.logo
{
	padding-bottom: 10px;
}



.form-inline .checkbox
{
	margin-right: 20px;
}

.footer 
{
	text-align: center;
	text-transform: capitalize;
	font-size: 12px;
	color: #999;
}

.sign
{
	padding-bottom: 10px;
}

.table 
{
	text-align: center;
}

.btn-group
{
	
}

.dropdown-menu
{

}

.container
{
	background-color: line;
}

.background-color
{
	background-color: #e4e8da;
}